@CHARSET "UTF-8";

/* Clear start */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,iframe {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content: '';
}

fieldset,img,abbr,acronym,iframe {
    border: 0;
}

a {
    outline: none;
}

/* Clear end */

/* pay_cc start */

#page {
    width: 719px;
    margin: 0 auto;
    padding: 10px 0;
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #727272;
}

#header {
    height: 27px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.line {
    clear: both;
    height: 4px;
}

.text_pay {
    float: left;
    width: 415px;
    height: 100%;
    margin: 27px 0 18px 0;
}

.text_fee {
    margin: 10px 0 10px 145px;
}

a:hover {
    text-decoration: none;
}

.text_key {
    float: left;
    height: 100%;
    width: 200px;
    margin-right: 30px;
}

.text_value {
    float: left;
    width: 185px;
}

.text_value_last {
    float: left;
}

.sum {
    font-weight: bold;
}

.notext {
    text-indent: -9999px;
}

#logo,#merchant_logo,#payment_logo,#help_logo {
    float: left;
}

#logo a,#help_logo a,#payment_logo a{
    display: block;
    text-decoration: none;
}

#payment_logo {
    width: 88px;
    height: 31px;
}

#help_logo {
    width: 31px;
    height: 31px;
}

#card_reg_title {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    color: #000;
}

#menu_title {
    float: left;
    width: 100%;
    text-align: center;
}

/* menu start */
div.sc_menu {
    padding: 15px 0 10px;
    overflow: hidden !important;
    /* Set it so we could calculate the offsetLeft */
    position: relative;
    width: 100%;
    overflow: auto;
}

ul.sc_menu {
    display: block;
    /* max width here, for users without javascript */
    width: 15000px;
    padding: 0;
    /* removing default styling */
    margin: 0;
    list-style: none;
}

.sc_menu li {
    display: block;
    float: left;
    padding: 0 15px;
}

.sc_menu li.next_line {
    clear: both;
    float: none;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}

.sc_menu a {
    display: block;
    text-decoration: none;
}

.sc_menu img {
    background-color: #fff;
    border: 2px #fff solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.sc_menu a:hover img {
    border: 2px #000 solid;
    filter:alpha(opacity=80);
    opacity: 0.8;
}
/* menu end */

#form_title {
    float: left;
    width: 600px;
    text-align: center;
}

#form_title h2 {
    line-height: 31px;
}

h3 {
    text-align: center;
    margin: 0 0 10px;
}

#top_card,#bottom_card,#actions {
    padding: 17px 0;
    float: left;
    width: 100%;
}

#footer_title {
    float: left;
    width: 100%;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

.left {
    float: left;
    margin-left: 26px;
    width: 321px;
}

.right {
    float: left;
    margin-left: 26px;
    width: 321px;
}

.note {
    margin: 5px auto 0;
    width: 261px;
    font-size: 12px;
    line-height: 12px;
}

label {
    margin: 0 auto;
    width: 261px;
    display: block;
}

input[type="text"], input[type="password"] {
    margin: 4px auto 0;
    width: 261px;
    height: 23px;
    line-height: 23px;
    display: block;
    padding: 0 3px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

select {
	margin: 4px auto 0;
	height: 23px;
    line-height: 23px;
    display: block;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

*+html .left>input[type="text"] {/* for IE7 */
    float:left;
}

*+html .left>input[type="password"] {/* for IE7 */
    float:left;
}

input[type="text"]:focus, input[type="password"]:focus, select {
    border-color: #000;
    outline: none;
}

#cards {
    color: #5d5d5d;
    float: left;
    width: 100%;
}

#cards .left, #cards .right {
    width: 321px;
    height: 209px;
}

#lPan {
     padding-top: 37px;
}

#lExpMonth {
    padding-top: 9px;
}

#lCardholderName {
    clear: both;
    padding-top: 1px;
}

.to_right {
    clear: both;
    width: 261px;
    margin: 0 auto;
    text-align: right;
}

.to_left {
    clear: both;
    width: 261px;
    margin: 0 auto;
}

#ExpMonth,#ExpYear {
	float: right;
    width: 42px !important;
}

#Cvc2 {
    float: right;
    width: 32px !important;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
  /*здесь стили для хрома*/
	#Cvc2 {
		float: right;
		width: 25px !important;
	}
}

#ExpYear {
    margin-left: 11px !important;
}

#xxx {
    margin-top: 92px;
}

#underline {
    border-bottom: #5d5d5d 2px solid;
}

#lCvc2 {
    padding-top: 10px;
}

#lchSaveCard {
    display: inline;
}

#chSaveCard {
    margin: 3px 3px 3px 0;
}

#back {
    text-align: center;
}

#back a {
    height: 34px;
    line-height: 34px;
}

#pay {
    margin: 0 auto;
    padding: 0 40px;
    height: 34px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
     box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -o-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -khtml-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -ms-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

#logo_pci {
    float: right;
    text-decoration: none;
    margin-left: 5px;
    width: 51px;
    height: 30px;
}

#logo_thawte {
    float: right;
    text-decoration: none;
    margin-left: 5px;
    width: 64px;
    height: 30px;
}

#logo_visa {
    float: right;
    text-decoration: none;
    margin-left: 5px;
    width: 35px;
    height: 30px;
}

#logo_master {
    float: right;
    text-decoration: none;
    width: 35px;
    height: 30px;
}

#footer {
    float: left;
    width: 672px;
    margin-top: 48px;
    padding: 0 17px 0 30px;
    font-size: 11px;
    line-height: 11px;
}

#footer .left {
    margin: 0;
    width: 315px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #727272;
}

#footer .right {
    margin: 0 0 0 12px;
}

#footer a, #tel {
    font-weight: bold;
    color: #727272;
}

/* pay_cc end */

/* error start */

.error {
    clear: both;
    width: 669px;
    margin: 10px 20px;
    padding: 5px;
    border: 1px #f00 solid;
    color: #f00;
    text-align: center;
}

.text_error {
    z-index: 300;
    width: 400px;
    margin-left: -200px;
    padding: 10px;
    color: #f00;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 300px;
    border: 2px #f00 solid;
    text-decoration: none;
}

.close {
    background: black;
    width: 100%;
    position: absolute;
    z-index: 200;
    top: 0px;
    left: 0px;
}

.value_error {
    color: #f00;
    border: 1px solid #f00 !important;
}

/* error end */

/* merchant_error start */

#error_text {
    height: 100px;
    padding-left: 50px;
    font-size: 20px;
    color: #20864a;
}

#error_text p {
    margin: 50px 0 17px;
    font-size: 24px;
}

#error_back {
    text-align: center;
}

#error_back a {
    display: block;
    height: 34px;
    line-height: 34px;
    margin-bottom: 25px;
}

#footer_error {
    width: 672px;
    padding: 7px 17px 0 30px;
    font-size: 11px;
    line-height: 11px;
    color: #aaa;
}

#footer_error a, #tel {
    font-weight: bold;
    color: #727272;
}

/* merchant_error end */

/* pay_symple_cc start */

#lcid {
     padding-top: 25px;
}

#cid {
    height: 23px;
    line-height: 23px;
    display: block;
    padding: 0 3px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 14px;
}

#cid:focus {
    border-color: #000;
    outline: none;
}

#cards #cid,#cards a {
    margin: 4px auto 0;
    width: 261px;
}

#cards a {
    display: block;
}

#to_bottom {
    margin-top: 59px;
}

#fix_cid {
    margin: 54px auto 0;
    width: 261px;
    font-size: 14px;
}

#fix_cid span {
    color: #000;
    font-weight: bold;
}

/* pay_symple_cc end */

/* check_cc start */

#text1 {
    margin-top: 25px;
    padding: 16px;
    width: 284px;
    font-size: 16px;
    font-weight: bold;
}

#text2 {
    margin-top: 32px;
    font-size: 14px;
}

#btn_back {
    display: block;
    margin-top: 20px;
    padding: 0 20px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
     box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -o-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -khtml-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
     -ms-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

#bill_top {
    margin: 25px 0 0 59px;
    width: 258px;
    height: 33px;
}

.bill_m1 {
    margin-left: 59px;
    padding: 9px 0 16px 19px;
    width: 258px;
}

.bill_m2 {
    margin-left: 59px;
    width: 258px;
    height: 1px;
}

.bill_key {
    width: 220px;
    font-weight: bold;
}

.bill_value {
    width: 220px;
    padding-top: 7px;
}

#time {
    width: 220px;
    padding: 13px 0 24px;
    text-align: right;
}

#bill_bottom {
    margin: 0 0 42px 59px;
    width: 258px;
    height: 33px;
}

/* check_cc end */