html,body,div,form,fieldset,input,p,button,h2 {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #fff;
    font: 70% Arial, Tahoma, Verdana, Helvetica, sans-serif;
}
#card_reg_title {
    width: 100%;
    text-align: center;
    color: #000;
}
#menu_title {
    width: 100%;
    text-align: left;
}
h2,h3 {
    font-size: 100%;
    font-weight: normal;
    color: #000000;
    margin-top: 12px;
}
h3 {
    text-align: center;
}
#pay {
    padding: 3%;
}
.logo {
    text-indent: -9999px;
    text-decoration: none;
}
#logo_visa {
    display: inline;
    float: left;
    width: 50px;
    height: 30px;
    margin-top: 12px;
    background: url('../img/m_logo_visa.png') no-repeat;
}
#logo_masterkard {
    display: inline;
    float: left;
    width: 50px;
    height: 30px;
    margin: 12px 0 0 2px;
    background: url('../img/m_logo_master.png') no-repeat;
}
.corner {
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
}
#text {
    margin-top: 11px;
    padding: 9px 0 7px;
    text-align: center;
    background:#D6D5CC;
}
#fix_cid {
    margin-top: 11px;
    padding: 9px 0 7px;
    text-align: center;
    color: #000000;
}
#fix_cid span {
    color: #000;
    font-weight: bold;
}
.number_sum {
    margin: 0;
    color: #000000;
    font-weight: bold;
}
fieldset {
    text-align: right;
}
.sc_menu,input,#ExpMonth,#ExpYear {
    margin-top: 12px;
    font-size: 160%;
    border: 1px solid #D6D5CC;
    color: #000;
}
.sc_menu {
    margin: 0;
}
div.sc_menu {
    text-align: left;
}
.note {
    text-align: center;
}
label {
    color: #000000;
}
input:focus,#ExpMonth:focus,#ExpYear:focus {
    border-color:#000;
}
.sc_menu,#Pan,#CardholderName,#Email,#easypay_card,#mailru_buyer_email,#qiwi_phone,#paypal_payer_email {
    width: 100%;
}
#Cvc2 {
    width: 42px;
}
#lCvc2 {
    font-size: 85%;
}
#btns {
    margin-top: 14px;
    text-align: center;
}
#btnBack {
    display: inline;
    float:left;
    color: #656664;
    padding: 8px 12px;
    background-color:#D6D5CC;
}
#logo_button {
    width: 12px;
    height: 12px;
    background: url('../img/m_button_back.png') no-repeat;
}
#btnPay, #btnPay_card {
    margin:0 2px;
    padding:5px;
    font-size: 125%;
    font-weight: bold;
    color: #000000;
    background-color: #64B054;
}
#logo_uniteller {
    display: inline;
    float: right;
    width: 43px;
    height: 28px;
    background: url('../img/m_logo.png') no-repeat;
}
.text_error {
    margin-top: 5px;
    text-align: center;
    color: #f00;
}
.error {
    border-color: #f00 !important;
    color: #f00 !important;
}
#select_card a {
    color: #2A76A5;
}
#chSaveCard {
    margin: 3px 3px 3px 0;
}

.hide{
    display:none;
}

#check {
    padding: 3%;
    color: #000000;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 16px;
}
#card_reg_title {
    color: #000;
    margin: 10px 0;
}

    