/**
1. СберБанк (SberBank)
 */
.bank1 {
    background-image: url("../svg/banks/1.svg");
}
/**
2. ВТБ (VTB)
 */
.bank2 {
    background-image: url("../svg/banks/2.svg");
}
/**
3. АльфаБанк (AlfaBank)
 */
.bank3 {
    background-image: url("../svg/banks/3.svg");
}
/**
4. ГазПромБанк (GazPromBank)
 */
.bank4 {
    background-image: url("../svg/banks/4.svg");
}
/**
5. РосСельхозБанк (rosselhozbank)
 */
.bank5 {
    background-image: url("../svg/banks/5.svg");
}
/**
6. УралСиб (UrlSib)
 */
.bank6 {
    background-image: url("../svg/banks/6.svg");
}
/**
7. РосБанк (RosBank)
 */
.bank7 {
    background-image: url("../svg/banks/7.svg");
}
/**
8. ТиньКофф (tinkoff)
 */
.bank8 {
    background-image: url("../svg/banks/8.svg");
}
/**
9. Открытие (otkritie)
 */
.bank9 {
    background-image: url("../svg/banks/9.svg");
}
/**
10. РайффайзенБанк (raiffaizenbank)
 */
.bank10 {
    background-image: url("../svg/banks/10.svg");
}
/**
12. Русский Стандарт Банк (БРС, BRS)
 */
.bank12 {
    background-image: url("../svg/banks/12.svg");
}
/**
14. ПСБ ПромСвязьБанк (PSB)
 */
.bank14 {
    background-image: url("../svg/banks/14.svg");
}
/**
15. ЮниКредитБанк (UniCreditBank)
 */
.bank15 {
    background-image: url("../svg/banks/15.svg");
}
/**
16. Сити (Citi)
 */
.bank16 {
    background-image: url("../svg/banks/16.svg");
}
/**
17. Авангард (avangard)
 */
.bank17 {
    background-image: url("../svg/banks/17.svg");
}
/**
18. РНКБ (RNKB)
 */
.bank18 {
    background-image: url("../svg/banks/18.svg");
}
/**
19. АкБарсБанк (abb)
 */
.bank19 {
    background-image: url("../svg/banks/19.svg");
}
/**
20. РоссияБанк
 */
.bank20 {
    background-image: url("../svg/banks/20.svg");
}
/**
24. БСПБ (Банк Санкт-Петербург)
 */
.bank24 {
    background-image: url("../svg/banks/24.svg");
}
/**
25. ТатФондБанк
 */
.bank25 {
    background-image: url("../svg/banks/25.svg");
}
/**
26. МТС Банк
 */
.bank26 {
    background-image: url("../svg/banks/26.svg");
}
/**
29. ЗапСибКомБанк
 */
.bank29 {
    background-image: url("../svg/banks/29.svg");
}
/**
30. WireCard
 */
.bank30 {
    background-image: url("../svg/banks/30.svg");
}
/**
31. Зенит Банк
 */
.bank31 {
    background-image: url("../svg/banks/31.svg");
}
/**
32. КредитУралБанк
 */
.bank32 {
    background-image: url("../svg/banks/32.svg");
}
/**
32. ХоумКредитБанк (HomeCreditBank)
 */
.bank33 {
    background-image: url("../svg/banks/33.svg");
}
